<div class="container" style="padding-top: 6em;" >
    <h1>Editing Property</h1>

    <%= render 'form', property: @property %>

    <div class="container">
        <%= link_to 'View Property', @property %> |
        <%= link_to 'Back to Properties List', properties_path %>
    </div>
</div>
